
.box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgb(0 0 0 / 5%);
}
.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}
.p-3 {
    padding: 1rem!important;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}
.align-items-center {
    -webkit-box-align: center!important;
    -ms-flex-align: center!important;
    align-items: center!important;
}
.flex-column {
    -webkit-box-orient: vertical!important;
    -webkit-box-direction: normal!important;
    -ms-flex-direction: column!important;
    flex-direction: column!important;
}
.d-flex {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
}
.border-bottom {
    border-bottom: 1px solid #dee2e6!important;
}
.bg-white {
    background-color: #fff!important;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
/* Navbar color */
h1.display-1 {
  padding-left: 15px;
}

/* unvisited link */
a:link {
    color:white;
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color:white;
    text-decoration: none;
  }
  
  /* mouse over link */
  a:hover {
    color:white;
    text-decoration: none;
  }
  
  /* selected link */
  a:active {
    color:white;
    text-decoration: none;
  }
  .display-1 {
    font-weight: 500 !important;
    font-size: 1.625rem !important;

}
/* Delete Button */
.btn-danger {
    color: white !important;
    background-color: #dc3545;
    border-color: #dc3545;
}
body {
  padding: 15px !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

label, input {
  display: block;
}

label {
  margin-bottom: 15px;
}
.indigo {
  background-color: #3f51b5 !important;
}
footer.page-footer a {
  color: #fff;
}
footer.page-footer {
  bottom: 0;
  color: #fff;
}
footer.page-footer .footer-copyright {
  overflow: hidden;
  color: rgba(255,255,255,0.6);
  background-color: rgba(0,0,0,0.2);
}
footer {
  margin-top: auto;
}
.mb-4, .my-4 {
  margin-bottom: 1.5rem!important;
}
.bg-dark {
  background-color: #343a40!important;
}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: .3rem;
}
.navbar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: .5rem 1rem;
}
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
  color: #fff;
}
footer.page-footer .footer-copyright {
  overflow: hidden;
  color: rgba(255,255,255,0.6);
  background-color: rgba(0,0,0,0.2);
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
*, ::after, ::before {
  box-sizing: border-box;
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
float: left;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
background-color: #ddd;
color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
background-color: #04AA6D;
color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
float: right;
}
a.navList{text-decoration: none; color: gray;}
a.activePage{ color: green; border-bottom: solid; border-width: 3px;}

html{
  position:relative; 
  min-height: 100%;
}
body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    display: block;
    background-color: grey;
    flex: 1 0 auto;
}
footer{
  position: fixed; 
  bottom: 0; 
  width: 100%;
}